.app {
  display: grid;
  grid-template-areas: 's u';
  grid-template-columns: 200px 4fr;
  
}

.side {
  grid-area: s;
  background-color: rgb(225, 229, 243);
  height: auto;
  
}

.content {
  padding-left: 20px;
  grid-area: u;
}

