.app {
  display: grid;
  grid-template-areas: 's u';
  grid-template-columns: 200px 4fr;
  
}

.side {
  grid-area: s;
  background-color: rgb(180, 240, 205);
  height: 100vh;
}

.content {
  padding-left: 20px;
  grid-area: u;
}

