body {
  margin: 0;
  font-family:"GOST type A";  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face{
  font-family:"GOST type A";
  src: url("../public/GOST_A.TTF");
}